<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.job.executer.mapper.Inno72NeedExportStoreMapper">
  <resultMap id="BaseResultMap" type="com.inno72.job.executer.model.Inno72NeedExportStore">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="activity_id" jdbcType="VARCHAR" property="activityId" />
    <result column="activity_type" jdbcType="INTEGER" property="activityType" />
    <result column="machine_code" jdbcType="VARCHAR" property="machineCode" />
    <result column="seller_id" jdbcType="VARCHAR" property="sellerId" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="locale" jdbcType="VARCHAR" property="locale" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <select id="findDeviceSize">
   select count(*) from inno72_machine_device where seller_id=#{sellerId} and machine_code=#{machineCode}
  </select>
</mapper>