<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.job.executer.mapper.Inno72MerchantTotalCountByUserMapper">
    <resultMap id="BaseResultMap" type="com.inno72.job.executer.model.Inno72MerchantTotalCountByUser">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="activity_id" jdbcType="VARCHAR" property="activityId" />
        <result column="activity_name" jdbcType="VARCHAR" property="activityName" />
        <result column="merchant_id" jdbcType="VARCHAR" property="merchantId" />
        <result column="date" jdbcType="VARCHAR" property="date" />
        <result column="seller_id" jdbcType="VARCHAR" property="sellerId" />
        <result column="age" jdbcType="INTEGER" property="age" />
        <result column="sex" jdbcType="INTEGER" property="sex" />
        <result column="user_tag" jdbcType="VARCHAR" property="userTag" />
        <result column="point_tag" jdbcType="VARCHAR" property="pointTag" />
        <result column="city" jdbcType="VARCHAR" property="city" />
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    </resultMap>
    <insert id="insertS" parameterType="list">
        insert into `inno72`.`inno72_merchant_total_count_by_user`
        (
        `id`, `activity_id`, `activity_name`,
        `merchant_id`, `date`, `seller_id`,
        `age`, `sex`, `user_tag`,
        `point_tag`, `city`, `last_update_time`
        )
        values
        <foreach collection="list" separator="," item="item">
            (
            #{item.id}, #{item.activityId}, #{item.activityName},
            #{item.merchantId}, #{item.date}, #{item.sellerId},
            #{item.age}, #{item.sex}, #{item.userTag},
            #{item.pointTag}, #{item.city}, #{item.lastUpdateTime}
            )
        </foreach>

    </insert>

    <select id="selectMaxLastUpdateTime" resultType="java.lang.String">
        SELECT date_format(Max(last_update_time), "%Y-%m-%d %T"), last_update_time from inno72_merchant_total_count_by_day
    </select>
</mapper>