<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.job.task.mapper.LocaleMapper">
    <resultMap id="BaseResultMap" type="com.inno72.job.task.vo.LocaleVo">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="id" jdbcType="VARCHAR" property="id" />
        <result column="tags" jdbcType="VARCHAR" property="point" />
        <result column="city" jdbcType="VARCHAR" property="city" />
    </resultMap>
    <select id="select" resultMap="BaseResultMap">
        select l1.id as id, JSON_EXTRACT(l1.tag,'$.tags[0]') AS tags, l2.city from inno72.inno72_locale l1
            left join inno72.inno72_admin_area l2 on l1.area_code = l2.`code`
        where l1.is_delete = 0
    </select>
</mapper>