<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.job.task.mapper.Inno72MerchantTotalCountByUserMapper">
  <resultMap id="BaseResultMap" type="com.inno72.job.task.model.Inno72MerchantTotalCountByUser">
    <!--
      WARNING - @mbg.generated inno72_merchant_total_count_by_user
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="activity_id" jdbcType="VARCHAR" property="activityId" />
    <result column="activity_name" jdbcType="VARCHAR" property="activityName" />
    <result column="merchant_id" jdbcType="VARCHAR" property="merchantId" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="seller_id" jdbcType="VARCHAR" property="sellerId" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="user_tag" jdbcType="VARCHAR" property="userTag" />
    <result column="point_tag" jdbcType="VARCHAR" property="pointTag" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" javaType="java.time.LocalDateTime"
            typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
  </resultMap>
</mapper>